# Astro VSCode Inspector - Environment Variables

# Windows example:
# PUBLIC_PROJECT_FOLDER=C:/Users/username/my-astro-project
# or
# PUBLIC_PROJECT_FOLDER=C:\\Users\\username\\my-astro-project

# macOS example:
# PUBLIC_PROJECT_FOLDER=/Users/username/my-astro-project

# Linux example:
# PUBLIC_PROJECT_FOLDER=/home/username/my-astro-project

# Set your project folder path here:
PUBLIC_PROJECT_FOLDER=
